@model Resturant.ViewModels.HomeModel
@{
    Layout = "_LayoutInner";
    ViewData["Title"] = "Contact Us";
}
@if (Model.SystemSetting != null)
{
    <div class="breadcrumb-area bg-img ptb-80" style="background-image:url(/assets/img/banner/breath.jpg);">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h3>Contact us</h3>
                <ul>
                    <li>
                        <a href="@Model.SystemSetting.SystemSettingWelcomeNoteUrl">Home</a>
                    </li>
                    <li class="active">Contact us</li>
                </ul>
            </div>
        </div>
    </div>
}
<div class="contact-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-message-wrapper">
                    <h4 class="contact-title mb-25">Leave Us a Message</h4>
                    <div class="contact-message">
                        <form asp-action="ContactUs" asp-controller="Home">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="contact-form-style mb-20">
                                        <input asp-for="TransactionContactUs.TransactionContactUsFullName" placeholder="Full Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="contact-form-style mb-20">
                                        <input asp-for="TransactionContactUs.TransactionContactUsEmail" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-form-style mb-20">
                                        <input asp-for="TransactionContactUs.TransactionContactUsSubject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="contact-form-style">
                                        <textarea asp-for="TransactionContactUs.TransactionContactUsMessage" placeholder="Message"></textarea>
                                        <button class="submit btn-style" type="submit">SEND MESSAGE</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
            @if (Model.MasterContactUsInformationList.Count != 0)
            {
                <div class="col-lg-4">
                    <div class="contact-info-area">
                        <h4 class="contact-title mb-18">Contact Us</h4>
                        <p>Lorem ipsum dolor sit amet, conse ncteturll adipisicing elit, sed do eiusmod </p>
                        <div class="contact-info-wrap">
                            @foreach (var item in Model.MasterContactUsInformationList)
                            {
                                <div class="single-contact-info mb-40">
                                    <div class="contact-info-icon">
                                        <i class="@item.MasterContactUsInformationImageUrl"></i>
                                    </div>
                                    <div class="contact-info-content">
                                        <h4>@item.MasterContactUsInformationRedirect :</h4>
                                        <p>@item.MasterContactUsInformationIdesc</p>
                                    </div>
                                </div>
                            }                          
                        </div>
                    </div>
                </div>
            }
        </div>

         @if (Model.SystemSetting != null)
        {
            <div class="map-area pt-100">
                @*<div id="googleMap"></div>*@
            <iframe src="@Model.SystemSetting.SystemSettingMapLocation" width="900" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        }
    </div>
</div>
<div class="pt-50"></div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzcEM8z2_imGO8TMRmJEpDEahvZ7KYY_U"></script>
<script>
    function init() {
        var mapOptions = {
            zoom: 11,
            scrollwheel: false,
            center: new google.maps.LatLng(31.963658932548306, 35.90879143323793),
            styles:
                [
                    {
                        "featureType": "all",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "saturation": 36
                            },
                            {
                                "color": "#878787"
                            },
                            {
                                "lightness": 40
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 17
                            },
                            {
                                "weight": 1.2
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 21
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#444444"
                            },
                            {
                                "lightness": 29
                            },
                            {
                                "weight": 0.2
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 18
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 19
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#2d333c"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    }
                ]
        };
        var mapElement = document.getElementById('googleMap');
        var map = new google.maps.Map(mapElement, mapOptions);
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(31.963658932548306, 35.90879143323793),
            map: map,
            icon: 'assets/img/icon-img/map.png',
            animation: google.maps.Animation.BOUNCE,
            title: 'Snazzy!'
        });
    }
    google.maps.event.addDomListener(window, 'load', init);
</script>
<script src="~/assets/js/main.js"></script>


