@model Resturant.ViewModels.HomeModel

@{
    Layout = "_LayoutInner";
    ViewData["Title"] = "ProductDetails";
}

@if (Model.SystemSetting != null)
{
    <div class="breadcrumb-area bg-img ptb-80" style="background-image:url(/assets/img/banner/breath.jpg);">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h3>blog sidebar</h3>
                <ul>
                    <li>
                        <a href="@Model.SystemSetting.SystemSettingWelcomeNoteUrl">Home</a>
                    </li>
                    <li class="active">blog details</li>
                </ul>
            </div>
        </div>
    </div>
}
<div class="blog-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-9 ">
                <div class="blog-details-wrapper">
                     @if (Model.MasterItemMenu != null)
                    {
                        <div class="single-blog-wrapper">
                            <div class="blog-img mb-30">
                                <a href="#">
                                    <img src="~/images/@Model.MasterItemMenu.MasterItemMenuImageUrl" alt="">
                                </a>
                                <span class="blogpost-time-date">
                                    <span class="date">@Model.MasterItemMenu.MasterItemMenuDate?.ToString("dd")</span>
                                    <span class="month">@Model.MasterItemMenu.MasterItemMenuDate?.ToString("MMM")</span>
                                </span>
                            </div>
                            <h2>
                                @Model.MasterItemMenu.MasterItemMenuTitle
                            </h2>
                            <p>@Model.MasterItemMenu.MasterItemMenuDesc</p>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div class="ptb-30"></div>
