@model Resturant.ViewModels.MasterContactUsInformationModel

@{
    ViewData["Title"] = "Details";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <a class="breadcrumb-item" asp-action="Index" asp-controller="MasterContactUsInformation">Master ContactUs Information</a>
            <a class="breadcrumb-item active" asp-action="Details" asp-controller="MasterContactUsInformation">Details</a>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <dl class="mt-3">

            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.MasterContactUsInformationIdesc)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.MasterContactUsInformationIdesc)
            </dd>
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.MasterContactUsInformationImageUrl)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.MasterContactUsInformationImageUrl)
            </dd>
            <dt class="col-sm-12">
                @Html.DisplayNameFor(model => model.MasterContactUsInformationRedirect)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.MasterContactUsInformationRedirect)
            </dd>
            <div class="text-end">
                <a asp-action="Index" class="btn btn-success">Back to List</a>

                <a asp-action="Edit" asp-route-id="@Model.MasterContactUsInformationId" class="btn btn-primary">Edit</a>
            </div>

        </dl>
    </div>
</div>

